# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# SQLite database files
*.db
*.db-journal

# Uploads (optional: ignore if you don’t want uploaded videos in Git)
uploads/

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
